/*Custom CSS File Made By fionster_fish_1 For WolfPrison ©*/
Strong {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}


.highlight {
    font-weight: 700;
}


.votelinksbox {
    padding: 10px;
    border: 5px solid black;
    margin: 0;
    background: #ffffff;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: 700;
}

.highlight {
    font-weight: 700;
}
